/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--font-family-content), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wgth' var(--font-weight-text), 'wdth' 0, 'opsz' 0;
  background: var(--background-image), var(--accent-color); /*не очень поняла, что такое цвет фонового паттерна */
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

.width-block {
  width: var(--width-block);
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  margin: 100px auto;
  text-align: center;
  font-family: var(--font-family-header-buttons);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-top:  clamp(122px, 7.2729rem + 1.5023vw, 138px);
  text-transform: uppercase;
}

.header__main-header {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-top: 20px;
}

/* Меню шапки */
.theme-menu {
  margin: 22px auto;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  margin-left: 10px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: 7px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  inline-size: 5px;
  opacity: 0.6;
  cursor: not-allowed;
  position: absolute;
  left: -22px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

/* Состояния кнопок меню*/
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  opacity: 0.6;
  height: 2px;
  margin-top: 3px;
  transform: scale(0);
  background-color: var(--border-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible {
  outline: -webkit-focus-ring-color none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scale(1);
}

.theme-menu__button:focus {
  outline: -webkit-focus-ring-color none;
  opacity: 0.6;
}

/* Карточки */

.card-list {
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  font-size: 18px;
}

.card__title {
  font-size: inherit;
  font-variation-settings: 'wght' var(--font-weight-header), 'wdth' 0, 'opsz' 0;
  line-height: 117%;
  padding: 4px 8px;
}

.card-picture {
  display: flex;
  position: relative;
}

.card-picture__image-label {
  display: block;
  position: absolute;
  z-index: 1;
  right: clamp(13px, 0.5484rem + 1.1268vw, 25px);
  top: 25px;
  font-family: var(--font-family-header-buttons);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
   -0 1px 0 var(--stroke-color), 
   0 1px var(--stroke-color), 
   1px 0 var(--stroke-color), 
   0 -1px var(--stroke-color);
}

@supports((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card-picture__image-label {
      -webkit-text-stroke: 1px var(--stroke-color);
      text-stroke: 1px var(--stroke-color);
      text-shadow: none;
  }
} 

.card-picture__image {
  display: block;
  position: relative;
  max-width: 100%;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  object-fit: cover;
  object-position: center center;
}

.card-picture__image-contrast-middle {
  filter: contrast(110%);
}

.card-picture__image-grayscale {
  filter: grayscale(100%);
}

.card-picture__image-hue-rotate {
  filter: hue-rotate(30deg);
}

.card-picture__image-mix-scb {
  filter: sepia(1) contrast(2) brightness(100%);
}

.card-picture__image-sepia {
  filter: sepia(50%);
}

.card-picture__image-sepia-max {
  filter: sepia(90%);
}

.card-picture__image-mix-cb {
  filter: contrast(160%) brightness(60%);
}

.card-picture__image-contrast-max {
  filter: contrast(160%);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: inherit;
  line-height: 117%;
  margin: 26px;
  font-variation-settings: 'wght' var(--font-weight-text), 'wdth' 0, 'opsz' 0;
}

/* Кнопки карточек */

.button-block {
  display: flex;
  margin-bottom: 25px;
  justify-content: right;
  gap: 3px;
  margin-right: 26px;
}

.card__icon-button {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 39px;
  max-width: 39px;
  padding: 0;
  transition: 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  min-height: 39px;
}

.button__view {
  display: block;
  border: 2px solid var(--border-color);
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

.button__text {
  display: block;
  font-family: var(--font-family-header-buttons);
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  color: var(--button-color-text);
  mix-blend-mode: difference;
}

/* Состояния кнопок*/

.button__view::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__view:hover::before {
  transform: translateX(0);
}

.button__view:focus-visible {
  outline: -webkit-focus-ring-color none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button__view:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: -webkit-focus-ring-color none;
  border: 2px solid var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}

/* Сохранить на память */

.save-button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(50% - clamp(306px, 18.4868rem + 2.723vw, 335px) / 2);
  margin-top: 50px;
  margin-bottom: 105px;
  padding: 14px;
  flex-flow: row wrap;
  gap: 9px;
  width: clamp(306px, 18.4868rem + 2.723vw, 335px);
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Состояние кнопки */

.save-button__floppy {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 1;
  fill: var(--button-color-text);
  mix-blend-mode: difference;
}

@media screen and (min-width: 768px) {

  .save-button__floppy {
    width: 21px;
    height: 21px;
   }
  }

/* Модальное окно */

.save-dialog-window[open] {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr min-content;
  column-gap: 20px;
  row-gap: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: clamp(341px, 20.9604rem + 1.5023vw, 357px);
  padding: 30px;
}

.save-dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialog-window__floppy {
  margin-top: 13px;
  fill: var(--accent-color);
  width: 39px;
  height: 39px;
}

.save-dialog-window__title {
  font-family: var(--font-family-header-buttons);
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.save-dialog-button {
  grid-column: 1 / 3;
}

.dialog-button {
  inline-size: 100%;
  height: 38px;
}